

/* header {
    display: flex;
    height: 40px;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }

  #hh1:after {
    content: "A Full!"; display:block; width: 250px; height: 0px; background:rgb(163, 196, 3);
    position:absolute; top:40px;
    left: 250px; width: 50px; height: 30px; z-index: 2;
  }

  nav a {
    padding-right: 20px;
  }
  
  nav a:hover {
    color: #B2BABB;
}

  h1{
    color: #B2BABB;
} */

